@use '../abstracts' as *;

.button {
  display: inline-flex;
  cursor: pointer;
  text-decoration: none;
  line-height: 1;

  font-family: $button-font-family;
  font-size: $button-font-size;
  font-weight: $button-font-weight;

  width: $button-width;
  padding: $button-padding-default;
  text-transform: $button-text-transform;
  border: $button-border-default;
  border-radius: $button-border-radius;

  transition: $button-transition;

  &[data-type='primary'] {
    color: $button-primary-color;
    background-color: $button-primary-background;

    &:is(:hover, :focus) {
      color: $button-primary-color-hover;
      background-color: $button-primary-background-hover;
    }
  }

  &[data-type='accent'] {
    color: $button-accent-color;
    background-color: $button-accent-background;

    &:is(:hover, :focus) {
      color: $button-accent-color-hover;
      background-color: $button-accent-background-hover;
    }
  }
}
