@use '../abstracts/' as *;

.logo {
  //default logo styles
  max-width: $logo-size-default;
  fill: $logo-fill-default;

  .site-header & {
    max-width: $logo-size-header;
    fill: $logo-fill-header;
  }

  .site-footer & {
    max-width: $logo-size-footer;
    fill: $logo-fill-footer;
  }
}
