@use '../abstracts/' as *;

.site-header {
  padding-block: $site-header-padding-block;

  color: $site-header-color;
  background-color: $site-header-background-color;

  &__layout {
    display: flex;
    flex-direction: column;
    gap: $site-header-gap;
    justify-content: $site-header-justification;
    align-items: $site-header-alignment;

    @include mq($desktop) {
      flex-direction: row;
    }
  }
}
