// PRIMITIVES SIZES

$sizes: (
  1: 0.25rem,
  2: 0.5rem,
  3: 0.75rem,
  4: 1rem,
  5: 1.25rem,
  6: 1.5rem,
  7: 1.75rem,
  8: 2rem,
  9: 2.5rem,
  10: 3rem,
  11: 4rem,
  12: 5rem,
  13: 6rem,
  14: 8rem,
  15: 10rem,
);
$sz-1: var(--sz-1);
$sz-2: var(--sz-2);
$sz-3: var(--sz-3);
$sz-4: var(--sz-4);
$sz-5: var(--sz-5);
$sz-6: var(--sz-6);
$sz-7: var(--sz-7);
$sz-8: var(--sz-8);
$sz-9: var(--sz-9);
$sz-10: var(--sz-10);
$sz-11: var(--sz-11);
$sz-12: var(--sz-12);
$sz-13: var(--sz-13);
$sz-14: var(--sz-14);
$sz-15: var(--sz-15);
